* {
    margin: 0;
    padding: 0;
    font-family: monospace, Arial, sans-serif;
}

.options {
    transition: all 0.5s ease;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    text-decoration: none;
    color: white;
    text-align: left;
    margin-left: 180px;

}

.options:hover {
    font-size: 22px;

}

.nav-options {
    display: flex;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

p {
    margin-left: 5px;
}


body {
    color: white;
    text-align:center;
    background-color: BLACK;
}

h1 {
    font-size: 30px;
    animation-name: h1Animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

h2 {
    font-size: 30px;
}

img {
    margin: 25px;
}

img {
    border: solid whitesmoke 4px;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 15px #fff;
}

img {
    border-radius: 10px;
}

#kvid {
    border-bottom: solid whitesmoke 4px;
    margin-bottom: 25px;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 15px #fff;
    
}

#head {
    box-shadow: none;
    border: none;
    margin-bottom: -25px;
    margin-top: -25px;
}

#head2 {
    box-shadow: none;
    border: none;
    margin-bottom: -25px;
    margin-top: -25px;
    margin-left: -50px;
    display: inline-block;
}

#head3 {
    box-shadow: none;
    border: none;
    margin-bottom: -25px;
    margin-top: -25px;
    margin-right: -50px;
    display: inline-block;
}

#head4 {
    box-shadow: none;
    border: none;
    margin-bottom: -100px;
    margin-top: -90px;
    display: inline-block;
}

.image {
    transition: all 1s ease;
    animation-name: imageAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.image:hover {
    height: 650px;

}

.image2 {
    transition: all 1s ease;
    animation-name: imageAnimation2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.image2:hover {
    height: 650px;
}



@keyframes imageAnimation {
    from {transform: rotate(-1deg);}
    to {transform: rotate(1deg);}
}

@keyframes imageAnimation2 {
    from {transform: rotate(1deg);}
    to {transform: rotate(-1deg);}
}

@keyframes h1Animation {
    from {font-size: 0px;}
    to {font-size: 30px;}
}

@media (min-width:0px) and (max-width:600px) {
    #kvid {
        width: 416px;
    }

    #head {
        height: 100px;
        width: 130px;
    }
    
    #head2 {
        height: 100px;
    }

    #head3 {
        height: 100px;
    }

    .image {
        height: 350px;
    }

    .image2 {
        height: 350px;
    }

    h2 {
        font-size: 11px;
    }

    h1 {
    font-size: 20px;
    animation-name: h1Animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    }

    @keyframes h1Animation {
    from {font-size: 0px;}
    to {font-size: 20px;}
    }

    .image {
    transition: all 1s ease;
    animation-name: imageAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.image:hover {
    height: 400px;

}

.image2 {
    transition: all 1s ease;
    animation-name: imageAnimation2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.image2:hover {
    height: 400px;
    
    }

.options {
    font-size: 8px;
    margin-left: 20px;
}

.options:hover {
    font-size: 8.5px;

}

}

@media (min-width:601px) and (max-width:800px) {
    #kvid {
        width: 736px;
    }

    #head {
        height: 100px;
        width: 130px;
    }
    
    #head2 {
        height: 100px;
    }

    #head3 {
        height: 100px;
    }

    .image {
        height: 200px;
    }

    .image2 {
        height: 200px;
    }

    h2 {
        font-size: 14px;
    }

    h1 {
    font-size: 20px;
    animation-name: h1Animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    }

    @keyframes h1Animation {
    from {font-size: 0px;}
    to {font-size: 20px;}
    }

    .image {
    transition: all 1s ease;
    animation-name: imageAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.image:hover {
    height: 250px;

}

.image2 {
    transition: all 1s ease;
    animation-name: imageAnimation2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.image2:hover {
    height: 250px;
    
    }

.options {
    font-size: 16px;
    margin-left: 25px;
}

.options:hover {
    font-size: 16.5px;

}

}