* {
    margin: 0;
    padding: 0;
    font-family: monospace, Arial, sans-serif;
}
body {
    color: white;
    text-align:center;
    background-color: BLACK;
}

h1 {
    font-size: 30px;
    animation-name: h1Animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

h2 {
    font-size: 30px;
}

img {
    margin: 25px;
}

img {
    border: solid whitesmoke 4px;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 15px #fff;
}

img {
    border-radius: 10px;
}

#kvid {
    border-bottom: solid whitesmoke 4px;
    margin-bottom: 25px;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 15px #fff;
    
}

#head {
    box-shadow: none;
    border: none;
    margin-bottom: -25px;
    margin-top: -25px;
}

#head2 {
    box-shadow: none;
    border: none;
    margin-bottom: -25px;
    margin-top: -25px;
    margin-left: -50px;
    display: inline-block;
}

#head3 {
    box-shadow: none;
    border: none;
    margin-bottom: -25px;
    margin-top: -25px;
    margin-right: -50px;
    display: inline-block;
}

#head4 {
    box-shadow: none;
    border: none;
    margin-bottom: -100px;
    margin-top: -90px;
    display: inline-block;
}

.image {
    transition: all 1s ease;
    animation-name: imageAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.image:hover {
    height: 650px;
    /* transform: rotate(5deg); */

}

.image2 {
    transition: all 1s ease;
    animation-name: imageAnimation2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.image2:hover {
    height: 650px;
    /* transform: rotate(-5deg); */
}

/* .head {
    transition: all 1s ease;
}

.head:hover {
    height: 250px;
    transform: rotate(360deg);
} */

/* .topbar {
    border-style: solid white 2px;
    height: 200px;
    background-color: black;
    position: sticky;vvvv
    top: 0;
    z-index: 1;
} */

/* #anicircle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 25px;
    display: inline-block;
    position: absolute;
    top: 35px;
    left: 5%;
    z-index: -1;
    background-color: #181818;
    animation-name: circleAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#anicircle2 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 25px;
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 5%;
    z-index: -1;
    background-color: #181818;
    animation-name: circleAnimation2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */

/* @keyframes circleAnimation {
    from {left: 5%;}
    to {left: 90%;}
}

@keyframes circleAnimation2 {
    from {right: 5%;}
    to {right: 90%;}
} */

@keyframes imageAnimation {
    from {transform: rotate(-1deg);}
    to {transform: rotate(1deg);}
}

@keyframes imageAnimation2 {
    from {transform: rotate(1deg);}
    to {transform: rotate(-1deg);}
}

@keyframes h1Animation {
    from {font-size: 0px;}
    to {font-size: 30px;}
}

@media (min-width:0px) and (max-width:600px) {
    #kvid {
        width: 450px;
    }

    #head {
        height: 100px;
        width: 130px;
    }
    
    #head2 {
        height: 100px;
    }

    #head3 {
        height: 100px;
    }

    .image {
        height: 350px;
    }

    .image2 {
        height: 350px;
    }

    h2 {
        font-size: 11px;
    }

    h1 {
    font-size: 20px;
    animation-name: h1Animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    }

    @keyframes h1Animation {
    from {font-size: 0px;}
    to {font-size: 20px;}
    }

    .image {
    transition: all 1s ease;
    animation-name: imageAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.image:hover {
    height: 450px;
    /* transform: rotate(5deg); */

}

.image2 {
    transition: all 1s ease;
    animation-name: imageAnimation2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.image2:hover {
    height: 450px;
    /* transform: rotate(-5deg); */
    }
}